In [98]:
import sqlite3
import pandas as pd
import pymongo

# Connexion à la base SQLite
db_path = 'ClassicModel.sqlite'
conn = sqlite3.connect(db_path)

# Connexion à MongoDB
client = pymongo.MongoClient("mongodb+srv://lovecookie:HJI3zhaaVlIdWxvi@cluster-but-sd-1.b0gnx.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd-1")  
db = client['migration_db']  # Nom de la base de données MongoDB

# Récupération des données depuis SQLite dans des DataFrames pandas
pd.read_sql("SELECT * FROM Customers", conn)
pd.read_sql("SELECT * FROM Payments", conn)
pd.read_sql("SELECT * FROM Employees", conn)
pd.read_sql("SELECT * FROM Offices", conn)

customers_collection = db.Customers
employees_collection = db.Employees
products_collection = db.Products
orders_collection = db.Orders

## 1. Collection "Customers"

In [100]:

# Récupérer les données des clients
customers_query = "SELECT * FROM Customers"
customers_df = pd.read_sql(customers_query, conn)

# Récupérer les paiements des clients
payments_query = "SELECT customerNumber, paymentDate, amount FROM Payments"
payments_df = pd.read_sql(payments_query, conn)

# Fusionner les données des paiements avec les clients
customers_data = []
for _, customer in customers_df.iterrows():
    # Récupérer les paiements associés au client
    customer_payments = payments_df[payments_df['customerNumber'] == customer['customerNumber']]
    
    # Construire un document pour le client avec les paiements dans un sous-document
    customer_document = {
        "CustomersCode": customer['customerNumber'],
        "CustomerName": customer['customerName'],
        "CustomerContact": {
            "lastname": customer['contactLastName'],
            "firstname": customer['contactFirstName'],
            "phone": customer['phone']
        },
        "Customer_Address": {
            "line1": customer['addressLine1'],
            "line2": customer.get('addressLine2', None),
            "city": customer['city'],
            "state": customer.get('state', None),
            "postalcode": customer.get('postalCode', None),
            "country": customer['country']
        },
        "SalesRepEmployeeNumber": customer.get('salesRepEmployeeNumber', None),
        "CreditLimit": float(customer.get('creditLimit', 0)),  # Conversion en nombre
        "PaymentDetails": [{
            "date": payment['paymentDate'],
            "amount": float(payment['amount']) if payment['amount'] else 0.0  # Conversion en nombre
        } for _, payment in customer_payments.iterrows()]
    }

    customers_data.append(customer_document)

# Insertion dans MongoDB
customers_collection.insert_many(customers_data)
print("Migration terminée avec succès pour Customers !")

Migration terminée avec succès pour Customers !

In [101]:
# Vérifier un exemple de document
example_customer = customers_collection.find_one()
print(example_customer)

# Vérifier plusieurs documents
customers_sample = customers_collection.find().limit(5)  # Affiche 5 documents
for customer in customers_sample:
    print(customer)

{'_id': ObjectId('67429cd34b36586d3e91be66'), 'CustomersCode': 103, 'CustomerName': 'Atelier graphique', 'CustomerContact': {'lastname': 'Schmitt', 'firstname': 'Carine', 'phone': '40.32.2555'}, 'Customer_Address': {'line1': '54, rue Royale', 'line2': 'NULL', 'city': 'Nantes', 'state': 'NULL', 'postalcode': '44000', 'country': 'France'}, 'SalesRepEmployeeNumber': 1370, 'CreditLimit': 21000.0, 'PaymentDetails': [{'date': '2004/10/19 0:00:00', 'amount': 5307.98}, {'date': '2003/6/5 0:00:00', 'amount': 16560.3}, {'date': '2004/12/18 0:00:00', 'amount': 2311.68}]}
{'_id': ObjectId('67429cd34b36586d3e91be66'), 'CustomersCode': 103, 'CustomerName': 'Atelier graphique', 'CustomerContact': {'lastname': 'Schmitt', 'firstname': 'Carine', 'phone': '40.32.2555'}, 'Customer_Address': {'line1': '54, rue Royale', 'line2': 'NULL', 'city': 'Nantes', 'state': 'NULL', 'postalcode': '44000', 'country': 'France'}, 'SalesRepEmployeeNumber': 1370, 'CreditLimit': 21000.0, 'PaymentDetails': [{'date': '2004/10/19 0:00:00', 'amount': 5307.98}, {'date': '2003/6/5 0:00:00', 'amount': 16560.3}, {'date': '2004/12/18 0:00:00', 'amount': 2311.68}]}
{'_id': ObjectId('67429cd34b36586d3e91be67'), 'CustomersCode': 112, 'CustomerName': 'Signal Gift Stores', 'CustomerContact': {'lastname': 'King', 'firstname': 'Sue', 'phone': '7025551838'}, 'Customer_Address': {'line1': '8489 Strong St.', 'line2': 'NULL', 'city': 'Las Vegas', 'state': 'NV', 'postalcode': '83030', 'country': 'USA'}, 'SalesRepEmployeeNumber': 1166, 'CreditLimit': 71800.0, 'PaymentDetails': [{'date': '2004/12/17 0:00:00', 'amount': 14449.61}, {'date': '2003/6/6 0:00:00', 'amount': 33847.62}, {'date': '2004/8/20 0:00:00', 'amount': 34453.85}]}
{'_id': ObjectId('67429cd34b36586d3e91be68'), 'CustomersCode': 114, 'CustomerName': 'Australian Collectors, Co.', 'CustomerContact': {'lastname': 'Ferguson', 'firstname': 'Peter', 'phone': '03 9520 4555'}, 'Customer_Address': {'line1': '636 St Kilda Road', 'line2': 'Level 3', 'city': 'Melbourne', 'state': 'Victoria', 'postalcode': '3004', 'country': 'Australia'}, 'SalesRepEmployeeNumber': 1611, 'CreditLimit': 117300.0, 'PaymentDetails': [{'date': '2003/5/20 0:00:00', 'amount': 50397.66}, {'date': '2004/12/15 0:00:00', 'amount': 85591.32}, {'date': '2003/5/31 0:00:00', 'amount': 9738.18}, {'date': '2004/3/10 0:00:00', 'amount': 49637.57}]}
{'_id': ObjectId('67429cd34b36586d3e91be69'), 'CustomersCode': 119, 'CustomerName': 'La Rochelle Gifts', 'CustomerContact': {'lastname': 'Labrune', 'firstname': 'Janine', 'phone': '40.67.8555'}, 'Customer_Address': {'line1': '67, rue des Cinquante Otages', 'line2': 'NULL', 'city': 'Nantes', 'state': 'NULL', 'postalcode': '44000', 'country': 'France'}, 'SalesRepEmployeeNumber': 1370, 'CreditLimit': 118200.0, 'PaymentDetails': [{'date': '2004/11/14 0:00:00', 'amount': 20719.91}, {'date': '2004/8/8 0:00:00', 'amount': 56002.9}, {'date': '2005/2/22 0:00:00', 'amount': 59617.44}]}
{'_id': ObjectId('67429cd34b36586d3e91be6a'), 'CustomersCode': 121, 'CustomerName': 'Baane Mini Imports', 'CustomerContact': {'lastname': 'Bergulfsen', 'firstname': 'Jonas', 'phone': '07-98 9555'}, 'Customer_Address': {'line1': 'Erling Skakkes gate 78', 'line2': 'NULL', 'city': 'Stavern', 'state': 'NULL', 'postalcode': '4110', 'country': 'Norway'}, 'SalesRepEmployeeNumber': 1504, 'CreditLimit': 81700.0, 'PaymentDetails': [{'date': '2003/2/16 0:00:00', 'amount': 54702.0}, {'date': '2003/10/28 0:00:00', 'amount': 1474.66}, {'date': '2004/11/4 0:00:00', 'amount': 19769.68}, {'date': '2004/11/28 0:00:00', 'amount': 40652.85}]}

## 2. Collection "Employees"

In [103]:
from pymongo import MongoClient

# Récupérer les données des employés
employees_query = "SELECT * FROM Employees"
employees_df = pd.read_sql(employees_query, conn)

# Récupérer les informations des bureaux
offices_query = "SELECT * FROM Offices"
offices_df = pd.read_sql(offices_query, conn)

# Fusionner les données des bureaux avec les employés
employees_data = []
for _, employee in employees_df.iterrows():
    # Récupérer les informations du bureau associé à l'employé
    office_data = offices_df[offices_df['officeCode'] == employee['officeCode']].iloc[0] if not offices_df[offices_df['officeCode'] == employee['officeCode']].empty else None
    
    # Extraction simple des données
    office_address = office_data if office_data is not None else {}
    
    # Construction d'un document pour l'employé avec les informations du bureau dans un sous-document
    employee_document = {
        "EmployeeCode": employee['employeeNumber'],
        "EmployeeContact": {
            "firstname": employee['firstName'],
            "lastname": employee['lastName'],
            "email": employee['email']
        },
        "extension": employee['extension'],
        "JobTitle": employee['jobTitle'],
        "OfficeDetails": {
            "officeCode": office_address.get('officeCode', None),
            "officeAddress": {
                "addressLine1": office_address.get('addressLine1', None),
                "addressLine2": office_address.get('addressLine2', None),
                "city": office_address.get('city', None),
                "country": office_address.get('country', None),
                "postalCode": office_address.get('postalCode', None),
                "state": office_address.get('state', None),
                "territory": office_address.get('territory', None)
            },
            "OfficePhone": office_address.get('phone', None)
        }
    }

    employees_data.append(employee_document)

# Insertion dans MongoDB
employees_collection.insert_many(employees_data)
print("Migration terminée avec succès pour Employees !")

Migration terminée avec succès pour Employees !

### 3. Collection "Products"

In [105]:


# Connexion à SQLite pour Products
cursor = conn.cursor()

try:
    # Récupérer les données de la table Products dans SQLite
    cursor.execute("SELECT * FROM Products")
    rows = cursor.fetchall()

    # Récupérer les noms des colonnes depuis SQLite
    column_names = [description[0] for description in cursor.description]

    # Transformation des données et insertion dans MongoDB
    for row in rows:
        # Construction d'un dictionnaire à partir des colonnes SQLite
        product = dict(zip(column_names, row))

        # Regroupement des champs en productDescription et Price
        product_document = {
            "ProductCode": product["productCode"],
            "ProductName": product["productName"],
            "ProductDescription": {
                "productLine": product["productLine"],
                "productScale": product["productScale"],
                "productVendor": product["productVendor"]
            },
            "QuantityInStock": product["quantityInStock"],
            "Price": {
                "buyPrice": float(product["buyPrice"]),  
                "MSRP": float(product["MSRP"])  # Prix de vente conseillé
            }
        }

        # Insérer le document dans MongoDB
        products_collection.insert_one(product_document)

    print("Migration terminée avec succès pour Products !")

except Exception as e:
    print(f"Une erreur est survenue lors de la migration des Products : {e}")

Migration terminée avec succès pour Products !

### 4. Collection "Orders"

In [107]:
# Connexion à SQLite pour Orders
cursor = conn.cursor()


try:
    # Récupérer les données des tables : Orders, OrderDetails et Products via une jointure
    query = """
    SELECT 
        o.orderNumber,
        o.orderDate,
        o.requiredDate,
        o.shippedDate,
        o.status,
        o.comments,
        o.customerNumber,
        od.productCode,
        od.quantityOrdered,
        od.priceEach,
        od.orderLineNumber,
        p.productName,
        p.productLine,
        p.buyPrice
    FROM 
        Orders o
    JOIN 
        OrderDetails od ON o.orderNumber = od.orderNumber
    JOIN 
        Products p ON od.productCode = p.productCode
    """
    
    cursor.execute(query)
    rows = cursor.fetchall()

    # Dictionnaire pour regrouper les commandes par numéro de commande
    orders_dict = {}

    # Transformation des données en documents MongoDB
    for row in rows:
        (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber, 
         productCode, quantityOrdered, priceEach, orderLineNumber, productName, productLine, buyPrice) = row
    
        if orderNumber not in orders_dict:
            orders_dict[orderNumber] = {
                "OrderNumber": orderNumber,
                "Dates": {
                    "orderDate": orderDate,
                    "requiredDate": requiredDate,
                    "shippedDate": shippedDate
                },
                "Status": status,
                "Comments": comments,
                "CustomerNumber": customerNumber,
                "OrderDetails": []  # Liste des produits commandés
            }

        # Ajout des détails du produit commandé à la commande
        orders_dict[orderNumber]["OrderDetails"].append({
            "ProductCode": productCode,
            "QuantityOrdered": float(quantityOrdered),  # Conversion explicite
            "PriceEach": float(priceEach),
            "OrderLineNumber": int(orderLineNumber),
            "ProductDetails": {
                "productName": productName,
                "productLine": productLine,
                "buyPrice": float(buyPrice)
                }
            })


    # Insérer les documents dans MongoDB
    documents = list(orders_dict.values())  
    orders_collection.insert_many(documents)

    print(f"Migration terminée : {len(documents)} commandes ont été insérées dans MongoDB.")

except Exception as e:
    print(f"Une erreur est survenue lors de la migration des Orders : {e}")

Migration terminée : 326 commandes ont été insérées dans MongoDB.

In [108]:
# Vérifier le nombre de documents dans chaque collection
print(f"Customers: {customers_collection.count_documents({})} documents")
print(f"Employees: {employees_collection.count_documents({})} documents")
print(f"Products: {products_collection.count_documents({})} documents")
print(f"Orders: {orders_collection.count_documents({})} documents")

Customers: 366 documents
Employees: 69 documents
Products: 330 documents
Orders: 978 documents

# Création des requêtes initiales au nouveau format NoSQL

1.Lister les clients n’ayant jamais effecuté une commande ;

In [111]:
rep1 = db.Customers.aggregate([
    {"$lookup": {
        "from": "Orders",  # Joindre la collection Orders
        "localField": "CustomersCode",
        "foreignField": "CustomerNumber",
        "as": "orders"
    }},
    {"$match": {"orders": {"$size": 0}}},  # Vérification des clients sans commandes
    {"$project": {"_id": 0, "CustomersCode": 1, "CustomerName": 1}}  # Ne conserve que les champs nécessaires
])

# Afficher les résultats
pd.DataFrame(list(rep1))

    CustomersCode                CustomerName
0             125          Havel & Zbyszek Co
1             168      American Souvenirs Inc
2             169           Porto Imports Co.
3             206  Asian Shopping Network, Co
4             223             Natürlich Autos
..            ...                         ...
67            459            Warburg Exchange
68            465         Anton Designs, Ltd.
69            477         Mit Vergnügen & Co.
70            480   Kremlin Collectables, Co.
71            481          Raanan Stores, Inc

[72 rows x 2 columns]

2. Pour chaque employé, le nombre de clients, le nombre de commandes et le montant total de celles-ci ;

In [113]:
emp = db.Employees.aggregate([
    #jointure entre Employees et Customers
    {"$lookup": {
        "from": "Customers",
        "localField": "EmployeeCode",
        "foreignField": "SalesRepEmployeeNumber",
        "as": "employeeCustomers"
    }},
    
    {"$unwind": {
        "path": "$employeeCustomers",
        "preserveNullAndEmptyArrays": True  # Inclut les employés sans clients
    }},
    
    #jointure entre Customers et Orders 
    {"$lookup": {
        "from": "Orders",
        "localField": "employeeCustomers.CustomersCode",  
        "foreignField": "CustomerNumber",               
        "as": "customerOrders"
    }},
    #Déplit les commandes (chaque commande devient un document distinct)
    {"$unwind": {
        "path": "$customerOrders",
        "preserveNullAndEmptyArrays": True  #inclut clients sans commandes
    }},
    
    #Calcul des montant total des commandes
    {"$group": {
        "_id": {"employeeCode": "$EmployeeCode","customerNumber": "$employeeCustomers.CustomersCode"},
        "totalAmountByCustomer": {"$sum": {
            "$reduce": {
                "input": "$employeeCustomers.PaymentDetails",
                "initialValue": 0,
                "in": { "$add": ["$$value", "$$this.amount"] }
            }}
        },
        "numOrdersByCustomer": {"$sum": { "$cond": [{ "$ifNull": ["$customerOrders", False] }, 1, 0] } }
    }},
    #Regroupement par employé pour obtenir les totaux
    {"$group": {
        "_id": "$_id.employeeCode",
        "numberOfCustomers":{"$sum": {"$cond": [
                    { "$ifNull": ["$_id.customerNumber", False] }, 
                    1,0]}
        },
        "numberOfOrders": { "$sum": "$numOrdersByCustomer" },
        "totalOrderAmount": { "$sum": "$totalAmountByCustomer" }
    } },
    

    {"$lookup": {
        "from": "Employees",
        "localField": "_id",
        "foreignField": "EmployeeCode",
        "as": "employeeInfo"
    }},
    
    {"$unwind": "$employeeInfo"},

    {"$project": {
        "_id": 0,
        "employeeNumber": "$_id",  # Ajouter le numéro de l'employé
        "firstName": "$employeeInfo.EmployeeContact.firstname",
        "lastName": "$employeeInfo.EmployeeContact.lastname",
        "numberOfCustomers": 1,
        "numberOfOrders": 1,
        "totalOrderAmount": 1
    }},
   
    {"$sort": { "employeeNumber": 1 }  }
])

pd.DataFrame(list(emp))

,numberOfCustomers,numberOfOrders,totalOrderAmount,employeeNumber,firstName,lastName
0,0,0,0.00,1002,Diane,Murphy
1,0,0,0.00,1002,Diane,Murphy
2,0,0,0.00,1002,Diane,Murphy
3,0,0,0.00,1056,Mary,Patterson
4,0,0,0.00,1056,Mary,Patterson
...,...,...,...,...,...,...
64,0,0,0.00,1625,Yoshimi,Kato
65,0,0,0.00,1625,Yoshimi,Kato
66,6,324,27389856.78,1702,Martin,Gerard
67,6,324,27389856.78,1702,Martin,Gerard
68,6,324,27389856.78,1702,Martin,Gerard

3. Idem pour chaque bureau (nombre de clients, nombre de commandes et montant total), avec en plus le nombre de clients d’un pays différent, s’il y en a ;

In [115]:
result = db.Employees.aggregate([
    # Étape 1 : Jointure avec les clients (Customers)
    {
        "$lookup": {
            "from": "Customers",
            "localField": "EmployeeCode",
            "foreignField": "SalesRepEmployeeNumber",
            "as": "employeeCustomers"
        }
    },
    
    # Étape 2 : Exploser les clients
    {
        "$unwind": {
            "path": "$employeeCustomers",
            "preserveNullAndEmptyArrays": True
        }
    },
    
    # Étape 3 : Jointure avec les commandes
    {
        "$lookup": {
            "from": "Orders",
            "localField": "employeeCustomers.CustomersCode",
            "foreignField": "CustomerNumber",
            "as": "customerOrders"
        }
    },
    
    # Étape 4 : Calcul du nombre de clients d'un pays différent et d'autres métriques
    {
        "$group": {
            "_id": "$OfficeDetails.officeCode",
            "officeCity": {"$first": "$OfficeDetails.officeAddress.city"},
            "officeCountry": {"$first": "$OfficeDetails.officeAddress.country"},
            "numberOfCustomers": {
                "$addToSet": "$employeeCustomers.CustomersCode"
            },
            "numberOfOrders": {"$sum": {"$size": {"$ifNull": ["$customerOrders", []]}}},
            "totalOrderAmount": {"$sum": {
                "$reduce": {
                    "input": "$employeeCustomers.PaymentDetails",
                    "initialValue": 0,
                    "in": {"$add": ["$$value", {"$ifNull": ["$$this.amount", 0]}]}
                }
            }},
            # Comptabiliser les clients venant d'un pays différent
            "customersFromDifferentCountry": {
                "$addToSet": {
                    "$cond": [
                        {"$ne": [
                            "$employeeCustomers.Customer_Address.country",
                            "$OfficeDetails.officeAddress.country"
                        ]},
                        "$employeeCustomers.CustomersCode",  # Inclure le client
                        None
                    ]
                }
            }
        }
    },
    
    # Étape 5 : Projeter les résultats finaux
    {
        "$project": {
            "_id": 0,
            "officeCode": "$_id",
            "officeCity": 1,
            "officeCountry": 1,
            "numberOfCustomers": {"$size": "$numberOfCustomers"},
            "numberOfOrders": 1,
            "totalOrderAmount": {"$cond": [{"$eq": ["$totalOrderAmount", 0]}, None, "$totalOrderAmount"]},
            "customersFromDifferentCountry": {
                "$size": {
                    "$setDifference": ["$customersFromDifferentCountry", [None]]
                }
            }
        }
    },
    
    # Étape 6 : Tri des résultats
    {"$sort": {"officeCode": 1}}
])

# Convertir en DataFrame pour analyse
import pandas as pd
df = pd.DataFrame(list(result))
print(df)

      officeCity officeCountry  numberOfOrders officeCode  numberOfCustomers  \
0  San Francisco           USA            1296        1.0                 12
1         Boston           USA             864        2.0                 12
2            NYC           USA            1053        3.0                 15
3          Paris        France            2862        4.0                 29
4          Tokyo         Japan             432        5.0                  5
5         Sydney     Australia            1026        6.0                 10
6         London            UK            1269        7.0                 17

   totalOrderAmount  customersFromDifferentCountry
0       13370594.49                              0
1        8399614.32                              0
2       10477201.59                              3
3       27353603.97                             17
4        4430853.18                              3
5        9894595.41                              5
6       14070293.91                             12

4. Pour chaque produit, donner le nombre de commandes, la quantité totale commandée, et le nombre de clients différents ;

In [117]:
prod=db.Orders.aggregate(
   [ {"$unwind": "$OrderDetails"},
    {"$group": {
        "_id": "$OrderDetails.ProductCode",  #par code produit
        "ProductName": {"$first": "$OrderDetails.ProductDetails.productName"},
        "Nb de commandes": {"$sum": 1},  #compte le nb de commandes
        "Quantité totale commandée": {"$sum": "$OrderDetails.QuantityOrdered"},  #Somme
        "NbClients": {"$addToSet": "$CustomerNumber"}  #clients uniques
    }},
    {"$addFields": {"NbClients": {"$size": "$NbClients"}}},  
   ]  
)
pd.DataFrame(list(prod))

,_id,ProductName,Nb de commandes,Quantité totale commandée,NbClients
0,S18_1662,1980s Black Hawk Helicopter,84,3120.0,26
1,S18_3029,1999 Yamaha Speed Boat,84,2898.0,26
2,S12_1108,2001 Ferrari Enzo,81,3057.0,23
3,S18_3782,1957 Vespa GS150,81,2877.0,21
4,S24_2022,1938 Cadillac V-16 Presidential Limousine,84,2865.0,23
...,...,...,...,...,...
104,S12_1099,1968 Ford Mustang,81,2799.0,23
105,S18_3278,1969 Dodge Super Bee,81,2922.0,21
106,S18_3482,1976 Ford Gran Torino,81,2745.0,20
107,S50_1514,1962 City of Detroit Streetcar,81,2898.0,22
108,S10_4698,2003 Harley-Davidson Eagle Drag Bike,84,2955.0,25

5. Donner le nombre de commande pour chaque pays, ainsi que le montant total des commandes et le montant total payé : on veut conserver les clients n’ayant jamais commandé dans le résultat final ;

In [170]:
result = db.Customers.aggregate([
    {"$lookup": {  # Relie les commandes aux clients
        "from": "Orders",
        "localField": "CustomersCode",
        "foreignField": "CustomerNumber",
        "as": "orders"
    }},
    {"$unwind": {"path": "$orders", "preserveNullAndEmptyArrays": True}},  
    {"$unwind": {"path": "$orders.OrderDetails", "preserveNullAndEmptyArrays": True}},  
    {"$group": {  
        "_id": "$Customer_Address.country",
        "uniqueOrders": {"$addToSet": "$orders.OrderNumber"},
        "totalOrderAmount": {"$sum": {"$multiply": [
            {"$ifNull": ["$orders.OrderDetails.QuantityOrdered", 0]},
            {"$ifNull": ["$orders.OrderDetails.PriceEach", 0]}
        ]}},
        "totalPaidAmount": {"$sum": {"$reduce": {
            "input": "$PaymentDetails",
            "initialValue": 0,
            "in": {"$add": ["$$value", {"$ifNull": ["$$this.amount", 0]}]}
        }}}
    }},
    {"$project": {  # Ajuste le format des résultats
        "country": "$_id",
        "_id": 0,
        "numberOfOrders": {"$size": "$uniqueOrders"},
        "totalOrderAmount": {"$cond": [{"$eq": ["$totalOrderAmount", 0]}, None, "$totalOrderAmount"]},
        "totalPaidAmount": {"$cond": [{"$eq": ["$totalPaidAmount", 0]}, None, "$totalPaidAmount"]}
    }},
    {"$sort": {"country": 1}}  # Trie les résultats par pays
])

pd.DataFrame(list(result))

         country  numberOfOrders  totalOrderAmount  totalPaidAmount
0      Australia              19        5675607.90     2.234287e+08
1        Austria               7        1818562.77     3.681884e+07
2        Belgium               7         975713.58     1.738382e+07
3         Canada               7        2016707.04     4.038320e+07
4        Denmark               7        2210734.35     6.301003e+07
5        Finland               9        2966237.19     9.086578e+07
6         France              37        9998249.04     2.827299e+08
7        Germany               7        1984248.81     4.474495e+07
8      Hong Kong               2         439059.24     7.024948e+06
9        Ireland               2         519807.87     8.316926e+06
10        Israel               0               NaN              NaN
11         Italy              10        3632635.98     1.191879e+08
12         Japan               6        1693510.29     4.353850e+07
13   Netherlands               0               NaN              NaN
14   New Zealand              15        4820256.00     1.539303e+08
15        Norway               9        2767173.30     7.983111e+07
16   Philippines               3         846141.57     2.199968e+07
17        Poland               0               NaN              NaN
18      Portugal               0               NaN              NaN
19        Russia               0               NaN              NaN
20     Singapore               9        2596395.69     1.035302e+08
21  South Africa               0               NaN              NaN
22         Spain              36       10941182.28     1.910917e+09
23        Sweden               7        1890127.89     5.887078e+07
24   Switzerland               2        1059422.04     3.284208e+07
25            UK              13        4309924.14     1.355631e+08
26           USA             112       32651845.65     1.761706e+09

6. On veut la table de contigence du nombre de commande entre la ligne de produits et le pays du client ;

In [121]:
pays=db.Orders.aggregate([
    #jointure entre Orders et Customers
    {"$lookup": {
            "from": "Customers",
            "localField": "CustomerNumber",
            "foreignField": "CustomersCode",
            "as": "customerInfo"
        } },

    {"$unwind": {
        "path": "$customerInfo",
        "preserveNullAndEmptyArrays": False
    }},
    
    {"$unwind": {
        "path": "$OrderDetails",
        "preserveNullAndEmptyArrays": False
    }},
   
    {"$group": {
        "_id": {
            "orderNumber": "$OrderNumber",  
            "productLine": "$OrderDetails.ProductDetails.productLine",
            "country": "$customerInfo.Customer_Address.country"
        }}},
    
    {"$group": {
        "_id": {
            "productLine": "$_id.productLine",
            "country": "$_id.country"
        },
        "numberOfOrders": { "$sum": 1 }  #compte commandes uniques
    }},
    
    {"$project": {
            "_id": 0,
            "productLine": "$_id.productLine",
            "country": "$_id.country",
            "numberOfOrders": 1
        }},
    
    {"$sort": { "productLine": 1, "country": 1}}
])


pd.DataFrame(list(pays))

     numberOfOrders   productLine    country
0                12  Classic Cars  Australia
1                 5  Classic Cars    Austria
2                 2  Classic Cars    Belgium
3                 6  Classic Cars     Canada
4                 5  Classic Cars    Denmark
..              ...           ...        ...
121               4  Vintage Cars  Singapore
122              22  Vintage Cars      Spain
123               4  Vintage Cars     Sweden
124              10  Vintage Cars         UK
125              67  Vintage Cars        USA

[126 rows x 3 columns]

7. On veut la même table croisant la ligne de produits et le pays du client, mais avec le montant total payé dans chaque cellule

In [123]:
result = db.Orders.aggregate([
    # Jointure entre Orders et Customers pour obtenir les informations sur le pays
    {
        "$lookup": {
            "from": "Customers",
            "localField": "CustomerNumber",
            "foreignField": "CustomersCode",
            "as": "customerInfo"
        }
    },

    # Déplier les informations des clients
    {
        "$unwind": {
            "path": "$customerInfo",
            "preserveNullAndEmptyArrays": False
        }
    },

    # Déplier les détails des commandes pour accéder aux produits
    {
        "$unwind": {
            "path": "$OrderDetails",
            "preserveNullAndEmptyArrays": False
        }
    },

    # Grouper par commande pour éliminer les doublons
    {
        "$group": {
            "_id": {
                "orderNumber": "$OrderNumber",
                "productLine": "$OrderDetails.ProductDetails.productLine",
                "country": "$customerInfo.Customer_Address.country"
            },
            "orderAmount": {
                "$sum": {
                    "$multiply": [
                        {"$ifNull": ["$OrderDetails.QuantityOrdered", 0]},
                        {"$ifNull": ["$OrderDetails.PriceEach", 0]}
                    ]
                }
            }
        }
    },

    # Regrouper par productLine et pays pour totaliser le montant payé
    {
        "$group": {
            "_id": {
                "productLine": "$_id.productLine",
                "country": "$_id.country"
            },
            "totalPaidAmount": {"$sum": "$orderAmount"}
        }
    },

    # Choix de la mise en page de notre tableau
    {
        "$project": {
            "_id": 0,
            "productLine": "$_id.productLine",
            "country": "$_id.country",
            "totalPaidAmount": {"$round": ["$totalPaidAmount", 2]}  
        }
    },

    # Trier les résultats
    {
        "$sort": {"productLine": 1, "country": 1}
    }
])


pd.DataFrame(list(result))

      productLine    country  totalPaidAmount
0    Classic Cars  Australia       1737769.86
1    Classic Cars    Austria        913135.23
2    Classic Cars    Belgium        181232.64
3    Classic Cars     Canada        554608.98
4    Classic Cars    Denmark       1414642.32
..            ...        ...              ...
121  Vintage Cars  Singapore        314644.14
122  Vintage Cars      Spain       2065630.59
123  Vintage Cars     Sweden        304240.14
124  Vintage Cars         UK       1114188.66
125  Vintage Cars        USA       6819803.10

[126 rows x 3 columns]

8. Donner les 10 produits pour lesquels la marge moyenne est la plus importante (cf buyPrice et priceEach) ;

In [125]:
marge=db.Orders.aggregate([
    {"$unwind":"$OrderDetails"},
    {"$addFields": {
        "OrderDetails.margin": {
            "$subtract": ["$OrderDetails.PriceEach",  "$OrderDetails.ProductDetails.buyPrice" ] }}
    },
    #par produit, en calculant la somme des marges et le nb de commandes
    {"$group": {
            "_id": "$OrderDetails.ProductCode",  
            "productName": {"$first": "$OrderDetails.ProductDetails.productName"},
            "buyPrice": {"$first": "$OrderDetails.ProductDetails.buyPrice"}, 
            "EachPrice": {"$first": "$OrderDetails.PriceEach"},  
            "Marge": {"$sum": "$OrderDetails.margin"},  
            "NbCom": {"$sum": 1}  
        }},
    #marge moyenne
    {"$addFields": {"Marge moyenne": {"$divide": ["$Marge", "$NbCom"] }}  },
    {"$sort": { "Marge moyenne": -1}},
    {"$limit": 10}
])
pd.DataFrame(list(marge))

,_id,productName,buyPrice,EachPrice,Marge,NbCom,Marge moyenne
0,S10_1949,1952 Alpine Renault 1300,98.58,207.87,8316.54,84,99.006429
1,S10_4698,2003 Harley-Davidson Eagle Drag Bike,91.02,224.65,7999.74,84,95.235000
2,S18_3232,1992 Ferrari 360 Spider red,77.90,198.13,13250.25,159,83.334906
3,S12_2823,2002 Suzuki XREO,66.27,144.60,6988.92,84,83.201429
4,S18_2795,1928 Mercedes-Benz SSK,72.56,145.13,6946.53,84,82.696786
5,S12_1108,2001 Ferrari Enzo,95.59,211.96,6564.54,81,81.043704
6,S12_3891,1969 Ford Falcon,83.05,157.45,6264.21,81,77.335926
7,S18_3685,1948 Porsche Type 356 Roadster,62.16,132.80,5447.76,75,72.636800
8,S18_2870,1999 Indy 500 Monte Carlo SS,56.76,121.44,5384.58,75,71.794400
9,S18_1749,1917 Grand Touring Sedan,86.70,171.70,5282.46,75,70.432800

9. Lister les produits (avec le nom et le code du client) qui ont été vendus à perte :
Si un produit a été dans cette situation plusieurs fois, il doit apparaître plusieurs fois,
Une vente à perte arrive quand le prix de vente est inférieur au prix d’achat ;

In [127]:
result = db.Orders.aggregate([
    # Étape 1 : Joindre la collection Customers pour obtenir les informations des clients
    {
        "$lookup": {
            "from": "Customers",
            "localField": "CustomerNumber",
            "foreignField": "CustomersCode",
            "as": "customer_info"
        }
    },
    # Étape 2 : Déplier les détails des commandes
    {"$unwind": "$OrderDetails"},
    # Étape 3 : Filtrer les ventes à perte
    {
        "$match": {
            "$expr": {
                "$lt": ["$OrderDetails.PriceEach", "$OrderDetails.ProductDetails.buyPrice"]
            }
        }
    },
    # Étape 4 : Choix les colonnes nécessaires à afficher
    {
        "$project": {
            "_id": 0,
            "productCode": "$OrderDetails.ProductCode",
            "productName": "$OrderDetails.ProductDetails.productName",
            "customerName": {"$arrayElemAt": ["$customer_info.CustomerName", 0]},
            "customerNumber": "$CustomerNumber",
            "priceEach": "$OrderDetails.PriceEach",
            "buyPrice": "$OrderDetails.ProductDetails.buyPrice"
        }
    },
    # Étape 5 : Trier les résultats pour un affichage ordonné
    {"$sort": {"productName": 1, "customerName": 1}}
])


pd.DataFrame(list(result))

,productCode,productName,customerName,customerNumber,priceEach,buyPrice
0,S18_3136,18th Century Vintage Horse Carriage,"AV Stores, Co.",187,39.80,60.74
1,S18_3136,18th Century Vintage Horse Carriage,"AV Stores, Co.",187,39.80,60.74
2,S18_3136,18th Century Vintage Horse Carriage,"AV Stores, Co.",187,39.80,60.74
3,S18_3136,18th Century Vintage Horse Carriage,Online Diecast Creations Co.,363,47.04,60.74
4,S18_3136,18th Century Vintage Horse Carriage,Online Diecast Creations Co.,363,47.04,60.74
...,...,...,...,...,...,...
232,S10_4698,2003 Harley-Davidson Eagle Drag Bike,"Tokyo Collectables, Ltd",398,76.67,91.02
233,S10_4698,2003 Harley-Davidson Eagle Drag Bike,"Tokyo Collectables, Ltd",398,76.67,91.02
234,S50_1392,Diamond T620 Semi-Skirted Tanker,Mini Gifts Distributors Ltd.,124,56.55,68.29
235,S50_1392,Diamond T620 Semi-Skirted Tanker,Mini Gifts Distributors Ltd.,124,56.55,68.29
236,S50_1392,Diamond T620 Semi-Skirted Tanker,Mini Gifts Distributors Ltd.,124,56.55,68.29

10. (Bonus) Lister les clients pour lesquels le montant total payé est supérieur aux montants totals des achats ;

In [129]:
tot = db.Orders.aggregate([
    
    {"$lookup": {
        "from": "Customers",  
        "localField": "CustomerNumber", 
        "foreignField": "CustomersCode", 
        "as": "customerInfo" 
    }},
  
    {"$unwind": {
        "path": "$customerInfo",
        "preserveNullAndEmptyArrays": False 
    }},

    {"$unwind": {
        "path": "$OrderDetails",  
        "preserveNullAndEmptyArrays": False  
    }},
   
    {"$addFields": {
        "purchaseAmount": {
            "$multiply": ["$OrderDetails.QuantityOrdered", "$OrderDetails.PriceEach"]
        }
    }},
   
    {"$group": {
        "_id": "$CustomerNumber",
        "total_achats": { "$sum": "$purchaseAmount" },
        "orderCount": { "$sum": 1 },
        "customerName": { "$first": "$customerInfo.CustomerName" }  
    }},
  
    {"$lookup": {
        "from": "Customers",  
        "localField": "_id",  
        "foreignField": "CustomersCode",  
        "as": "paymentDetails"  
    }},
    
    { "$unwind": {
        "path": "$paymentDetails",
        "preserveNullAndEmptyArrays": False 
    } },
    {"$unwind": {
            "path": "$paymentDetails.PaymentDetails",  
            "preserveNullAndEmptyArrays": False  
        }},
    { "$group": {
        "_id": "$_id", 
        "total_paye": { "$sum": "$paymentDetails.PaymentDetails.amount" },  
        "total_achats": { "$first": "$total_achats" }, 
        "customerName": { "$first": "$customerName" } 
    }},
   
    {"$match": {"$expr": {"$lt": ["$total_paye", "$total_achats"] }}},
   
    {"$project": {
        "_id": 0,
        "CustomerNumber": "$_id",  
        "customerName": 1, 
        "total_achats": 1,  
        "total_paye": 1,  
    }},
   
    {"$sort": { "CustomerNumber": 1 }}
])



pd.DataFrame(list(tot))

    total_paye  total_achats                    customerName  CustomerNumber
0     72539.88     217619.64               Atelier graphique             103
1    248253.24     744759.72              Signal Gift Stores             112
2    586094.19    1808958.69      Australian Collectors, Co.             114
3    409020.75    1621124.46               La Rochelle Gifts             119
4    349797.57    1049392.71              Baane Mini Imports             121
..         ...           ...                             ...             ...
93   251046.48     753139.44    Motor Mint Distributors Inc.             486
94   150655.53     451966.59        Signal Collectibles Ltd.             487
95   108057.12     324171.36  Double Decker Gift Stores, Ltd             489
96   212579.34     637738.02            Diecast Collectables             495
97   471303.42    1425103.11               Kelly's Gift Shop             496

[98 rows x 4 columns]

In [174]:
# Fermeture des connexions
conn.close()  # Pour SQLite
client.close()  # Pour MongoDB